<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">

    <div class="container-fluid">
      
      <ul class="navbar-nav">
        
        <a class="navbar-brand" routerLink="/" >STUDENT MANAGEMENT SYSTEM</a>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/student-list">Student List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-student">Add Student</a>
        </li>
       
      </ul>
    </div>
  
  </nav>
  <br/>
